[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_full_version = "2.7.14"


[dev-packages]



[packages]

requirements = "*"
flask = "*"
sqlalchemy = "*"
"httplib2" = "*"
wordpress-api = "*"
python-wordpress-xmlrpc = "*"
passlib = "*"
"unittest2" = "*"
colorama = "*"
python-wordpress = "*"
requests-oauthlib = "*"
wordpress-json = "*"
logging = "*"
flask-login = "*"
werkzeug = "*"
flask-wtf = "*"
wtforms = "*"
requests = "*"
sqlalchemy-migrate = "*"
flask-htmlmin = "*"
raven = {extras = ["flask"]}
gunicorn = "*"
flask-migrate = "*"
flask-script = "*"
