[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.6.5"

[dev-packages]

[packages]
requirements = "*"
flask = "==0.12.2"
sqlalchemy = "*"
"httplib2" = "*"
wordpress-api = "*"
python-wordpress-xmlrpc = "*"
passlib = "*"
"unittest2" = "*"
python-wordpress = "*"
requests-oauthlib = "*"
wordpress-json = "*"
flask-login = "==0.4.1"
werkzeug = "*"
wtforms = "*"
requests = "*"
sqlalchemy-migrate = "*"
raven = {extras = ["flask"]}
gunicorn = "*"
parse = "*"
"psycopg2-binary" = "*"
flask-wtf = "*"
flask-session = "*"
flask-migrate = "*"
simple-crypt = "*"

[pipenv]
allow_prereleases = true
