{% extends "main.html" %}
{% block content %}
<div class="wp-login-form">
	<form action="{{ url_for('login', state=STATE) }}" method="POST">
		{{ form.hidden_tag() }}
		<p>
			{{ form.wp_username.label }}
			{{ form.wp_username(size=50) }}
			{% for error in form.wp_username.errors %}
				<span class="error">[{{error}}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.wp_password.label }}
			{{ form.wp_password(size=50) }}
			{% for error in form.wp_password.errors %}
				<span class="error">[{{error}}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submi() }}</p>
	</form>
</div>

{% endblock %}