{% extends "main.html" %}
{% block content %}

<div class="registration-form">
	<form action="{{ url_for('register') }}" method="POST">
		{{ form.hidden_tag() }}
		<p>
			{{ form.wp_username.label }}<br/>
			{{ form.wp_username(size=50) }}<br/>
			{% for error in form.wp_username.errors %}
				<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.wp_password.label }}<br/>
			{{ form.wp_password(size=50) }}<br/>
			{% for error in form.wp_password.errors %}
				<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.wp_url.label }}<br/>
			{{ form.wp_url(size=50) }}<br/>
			{% for error in form.wp_url.errors %}
				<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
</div>

{% endblock %}
